[submodule "adrc_ws/src/ROS-TCP-Endpoint"]
	path = adrc_ws/src/ROS-TCP-Endpoint
	url = https://github.com/Unity-Technologies/ROS-TCP-Endpoint.git
[submodule "adrc_esp32"]
	path = adrc_esp32
	url = https://github.com/DaiGuard/adrc_esp32
